html,body{
  margin: 0;
  padding: 0;
  background-color: #2f4f30;
  box-sizing: border-box;
}

.titulo{
  text-align: center; 
  background-color: black;
  color:#Fff;
  padding: 20px 0;
  font-size: 25px;
}
.cartas{
  width: 150px;
  position: relative;
  left:150px;
  margin-left:-75px;
}
#Computadora-cartas,#jugador-cartas{
  height: 250px;

}
